html {
    font-size: 10px;
}

.viewPort {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.splash {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    min-width: 50%;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    min-height: 100%;
    min-width: 50%;
}

#formGrid {
    display: grid;
    grid-template-rows: repeat(4, 5rem);
    grid-template-columns: repeat(2, 20rem);
}

#formGrid div {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

#CTA {
    grid-area: 1 / 1 / 1/ 3;
}
